# Virtual Environment
myenv/
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# FAISS Vector DB
vectorstore/

# Cache files
cache/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/